.services_anim{
   padding: 2rem 0;
    width: 1rem;
    background: var(--color-bg-variant);
    border-radius: 0 0 2rem 2rem;
    border:1px solid var(--color-primary) ;
    padding: 2erm;
    height: 40vh;
    transition: var(--transition);
    display: grid;
    grid-template-rows: repeat(3,1fr);
    gap: 2vh;
}
.services_anim img{
    height: 3rem;
    width: 3rem;

}
 img#html{
    animation: myAnim 10s cubic-bezier(0.32, 0, 0.67, 0) 0s infinite  normal forwards;
}
img#css{
    animation: myAnim 12s cubic-bezier(0.32, 0, 0.67, 0) 2s infinite  normal forwards;
}
 img#js{
    animation: myAnim 15s cubic-bezier(0.32, 0, 0.67, 0) 0s infinite normal forwards;
}
img#REACTicon{
    animation: myAnim 20s cubic-bezier(0.32, 0, 0.67, 0) 0s infinite normal forwards;
}


.services__container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 3rem;
   
}