/******************contact options***********************/

.container.contact__container{
    width: 60%;
    display: grid;
    grid-template-columns:  1fr 2fr;
     gap: 3rem;

}


.contact__options{
    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: 2rem;
}
/**********************contact form iv**********************/
.contact__form{
    margin-left: 2rem;
    display: grid;
grid-template-columns: 1fr;
width: 80%;
}
/****************************contact Card************************/
.contact_card{
    background: var(--color-bg-variant);
    border-radius: 1.2rem;
    border:1px solid transparent ;
    padding: 1.2rem;
    height: fit-content;
    transition: var(--transition);
    display: grid;
    grid-template-columns: 1fr;
    gap: 0.6rem;
    place-items: center;
}
.contact_card:hover{
    background: transparent;
    border-color:var(--color-primar) ;
    cursor: default;

  }
  .contact__card__icon{
    font-size: 1.2rem;

  }
  .contact_card a{
    margin-top: 0.5rem;
    font-size: 0.7rem;
  }

  /****************************medium devices Tablets*********************/

@media screen and (max-width:1024px) {
    .container.contact__container{
        
       display: grid;
       grid-template-columns: 1fr;
       gap: 2rem;
      
    
    }
    .contact__form{
        margin-left: 0rem;
        display: grid;
        grid-template-columns: 1fr;
        width: 100%;
        }
    
  
}

/*****************************Small devices Mobile*********************/

@media screen and (max-width:600px) {
    .container.contact__container{
        width: var(--container-width-sm);
        display: grid;
       grid-template-columns:  1fr;
       align-items: center;
       gap: 2rem;
       padding: 1rem;
    
    }
    .contact__form{
    margin-left: 0rem;
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
    }

}