.container.footer__container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    position: static;
    top: 100vh;
    height: 10vh;
    width: 100vw;
    background: var(--color-bg);
    margin-bottom: 0;
    margin-top: 2rem;
   padding: 4rem auto;

}

.footer__infos {
    display: grid;
    grid-template-rows: 1fr;
    padding-left: 1rem;


}

.footer__socials {
    display: flex;
    flex-direction: row;
    gap: 3rem;
    align-items: center;
    padding-top: 1rem;


}

.footer__socials::after {
    content: "";
    width: 5rem;
    height: 1px;
    background: var(--color-primary);

}

.footer__icon {
    font-size: 1.4rem;
}

.footer__rights {
    display: grid;
    grid-template-columns: 1fr;
    place-items: center;
    padding-bottom: 1rem;
}

.footer__rights p {
    font-size: 0.7rem;
    color: var(--color-white-light);
}