.experience__anim img{
    height: 3rem;
    width: 3rem;
}
 img#html{
    animation: myAnim 10s cubic-bezier(0.32, 0, 0.67, 0) 0s infinite  normal forwards;
}
img#css{
    animation: myAnim 10s cubic-bezier(0.32, 0, 0.67, 0) 2s infinite  normal forwards;
}
 img#js{
    animation: myAnim 10s cubic-bezier(0.32, 0, 0.67, 0) 0s infinite normal forwards;
}